.alicia {
    background: url("/CardGame/img/alicia.jpg") no-repeat center center / cover;
}

.aliens {
    background: url("/CardGame/img/aliens.jpg") no-repeat center center / cover;
}

.hg {
    background: url("/CardGame/img/hg.jpg") no-repeat center center / cover;
}

.once {
    background: url("/CardGame/img/once.jpg") no-repeat center center / cover;
}

.sp {
    background: url("/CardGame/img/sp.jpg") no-repeat center center / cover;
}

.tasm {
    background: url("/CardGame/img/tasm.jpg") no-repeat center center / cover;
}

.ts {
    background: url("/CardGame/img/ts.jpg") no-repeat center center / cover;
}

.lv {
    background: url("/CardGame/img/lv.jpg") no-repeat center center / cover;
}

.default {
    background: url("/CardGame/img/default.jpg") no-repeat center center / cover;
}

.col {
    height: 240px;
}